* {
	font-family: "Noto Sans Mono"
}

window {
	font-size: 18px;
	color: #dddddd;
	background-color: #141414;
}

#workspaces {
	margin-left: 20px;
}

#workspaces button {
	font-size: 17px;
	color: #dddddd;
	border-radius: 0;
	border-bottom: 2px solid #78a9ff;
}

#workspaces button.active {
	font-size: 18px;
	border-bottom: 4px solid #78a9ff;
}

.modules-right {
	margin-right: 25px;
}
